{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }} {% endblock %}

{% block body %}
<section class="container m-auto">
    <div class="d-flex justify-content-center">

        <div class="col-12 col-md-8 col-xl-6">
            <form method="post" class="card p-4 border-0 shadow-sm">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 fw-bold">Connexion</h1>

                <div class="mb-3">
                    <label class="form-label" for="inputUsername">Pseudo</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                <div>
                    <button class="text-uppercase btn btn-primary" type="submit">Connexion</button>
                </div>
            </form>
        </div>

    </div>
</section>
{% endblock %}
