<footer class="bg-dark py-5 text-white">
    <div class="container text-center text-sm-start">
        <div class="row justify-content-between g-3">
            <section class="col-12 col-sm-6">
                <h3 class="text-uppercase mb-0">Geoffroy Colpart</h3>
                <p class="mb-0">Développeur Web</p>
            </section>

            <section class="col-12 col-sm-6 text-sm-end">
                
                    <p class="mb-1 mb-sm-0 me-2 d-inline-block">
                        <a class="link-light" href="#"><i class="bi bi-github"></i> Github</a>
                    </p>
                    <p class="mb-0 d-inline-block">
                        <a class="link-light" href="#"><i class="bi bi-globe"></i> Portfolio</a>
                    </p>
                
            </section>
        </div>
    </div>
</footer>