/* COLOR */
$primary: #004680;
$secondary: #62277D;

/* CARD */
$card-spacer-y: 1.5rem;
$card-spacer-x: 1.5rem;
$card-cap-padding-y: $card-spacer-y;
$card-border-radius: 1rem;

/* TYPOGRAPHIE */
$font-family-base: 'Poppins', sans-serif;
$body-color: #4f4f4f;
$line-height-base: 1.6;
$link-decoration: none;

/* BUTTON */
$btn-font-size: 0.775rem;
$btn-border-radius: 0.75rem;
$btn-font-weight: bold;

/* PAGINATION */
$pagination-border-width: 0;
$pagination-padding-y: .45rem;
$pagination-padding-x: 1rem;
$pagination-border-radius: 0.5rem;

/* FORMULAIRE */
$form-label-font-weight: bold;
$form-label-margin-bottom: 0.25rem;
$form-label-font-size: 0.875rem;