{% extends 'base.html.twig' %}

{% block body %}
    <section class="container m-auto">
        <div class="row text-center text-md-start m-auto">
            <div class="col-12 col-md justify-content-md-end d-md-flex align-items-md-center">
                <p class="fw-bold display-1 text-primary">404</p>
            </div>

            <div class="col-12 col-md">
                <h1 class="fw-bold mb-0 h4 text-primary text-uppercase">Page non trouvée</h1>
                <p>La page demandée est introuvable.</p>
                <p class="mb-0"><a class="btn btn-secondary text-uppercase" href="{{ path('homepage') }}">Homepage</a></p>
            </div>
        </div>
    </section>
{% endblock %}